
body{
  padding-top: 5%;
  width: 1200px; 
  font-family:'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0 auto;
}


.block{
  display: flex;
  margin-left: 300px;
}

.form{
  width: 640px; 
}
.resultform{
  padding-left: 10px;
  color:#741212;
  width: 260px;
  height: 72px;
}

.resultformoutput{
  margin-top: 27px;
  height: 72px;
  
}
.resultformoutput1{
  
  height: 72px;
  
}
.resultformreg{
  margin-top: 140px;
  padding-left: 10px;
  color:#741212;
  width: 260px;
}
.errorform{
  padding: 15px;
  margin: 5px 10px 22px 0;
}
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  margin: 5px 10px 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

h1{
  text-align: center;
}
h2{
  font-size: 16px;
}
button{
  color: white;
  font-size: 18px;
  padding: 16px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;  
  position: relative;
  left: 25%;
  width: 50%;
  opacity: 0.9;
}
.greenbtn{
  background-color: #367238;
}

.redbtn{
  background-color: #741212;
}